---

// let {title} = Astro.props;

---

<footer>
        <div class="contact" id="contact">
        <div class="wrapper">
            <h2 class="section-title">LET'S CONNECT!</h2>
            <address>
            <a href="mailto:vohoangviet459@gmail.com" target="_blank" id="mail">vohoangviet459@gmail.com</a>
            <div class="socials">
                <a href="https://www.linkedin.com/in/vo-hoang-viet/" target="_blank" id="linkedin"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/viet-v" target="_blank" id="github"><i class="fab fa-github"></i></a>
                <a href="https://www.behance.net/viet-vo-hoang " target="_blank" id="behance"><i class="fab fa-behance-square"></i></a>
            </div>
            </address>
            <p id="copyright">Copyright © 2022 | Viet Vo Hoang</p>
        </div>
        </div>
</footer>