---

// let {title} = Astro.props;

---
    

    <header>
        <div class="nav-pc">
            <div class="brand">
            <span>vietspace</span>
            <img src="/assets/logo.svg" alt="vietspace logo">
            </div>
            <nav>
            <ul>
                <li><a href="/#projects">PROJECTS</a></li>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/#about">ABOUT</a></li>
                <li><a href="/#contact">CONTACT</a></li>
                <li><a href="Viet-Vo-Hoang-Front-End-Developer-Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
            </nav>
        </div>
        <div id="sticky-bar-mobile">
            <div class="brand-mobile">
            <span>vietspace</span>
            <img src="/assets/logo.svg" alt="vietspace logo">
            </div>
            <i class="fas fa-bars" id="nav-bars"></i>
        </div>
        <div class="nav-mobile">
            <nav>
            <ul>
                <li><a href="/#projects">PROJECTS</a></li>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/#about">ABOUT</a></li>
                <li><a href="/#contact">CONTACT</a></li>
                <li><a href="Viet-Vo-Hoang-Front-End-Developer-Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
            </nav>
            <i class="fas fa-times" id="nav-close"></i> 
        </div>
        <div class="nav-overlay"></div>
    </header>



    

    
