---

let {title} = Astro.props;

---
    
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://kit.fontawesome.com/38863ae954.js" defer></script>
    
</head>
<body>
    <header>
        <div class="nav-pc">
            <div class="brand">
            <span>vietspace</span>
            <img src="/assets/logo.svg" alt="vietspace logo">
            </div>
            <nav>
            <ul>
                <li><a href="/#projects">PROJECTS</a></li>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/#about">ABOUT</a></li>
                <li><a href="/#contact">CONTACT</a></li>
                <li><a href="Viet-Vo-Hoang-Front-End-Developer-Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
            </nav>
        </div>
        <div id="sticky-bar-mobile">
            <div class="brand-mobile">
            <span>vietspace</span>
            <img src="/assets/logo.svg" alt="vietspace logo">
            </div>
            <i class="fas fa-bars" id="nav-bars"></i>
        </div>
        <div class="nav-mobile">
            <nav>
            <ul>
                <li><a href="/#projects">PROJECTS</a></li>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/#about">ABOUT</a></li>
                <li><a href="/#contact">CONTACT</a></li>
                <li><a href="Viet-Vo-Hoang-Front-End-Developer-Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
            </nav>
            <i class="fas fa-times" id="nav-close"></i> 
        </div>
        <div class="nav-overlay"></div>
    </header>

    <slot></slot>

    <footer>
        <div class="contact" id="contact">
        <div class="wrapper">
            <h2 class="section-title">LET'S CONNECT!</h2>
            <address>
            <a href="mailto:vohoangviet459@gmail.com" target="_blank" id="mail">vohoangviet459@gmail.com</a>
            <div class="socials">
                <a href="https://www.linkedin.com/in/vo-hoang-viet/" target="_blank" id="linkedin"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/viet-v" target="_blank" id="github"><i class="fab fa-github"></i></a>
                <a href="https://www.behance.net/viet-vo-hoang " target="_blank" id="behance"><i class="fab fa-behance-square"></i></a>
            </div>
            </address>
            <p id="copyright">Copyright © 2022 | Viet Vo Hoang</p>
        </div>
        </div>
    </footer>

    
</body>
</html>